/* Importa los estilos globales y los específicos de cada sección */
@import url("/src/style.css"); /* Estilos generales */
@import url("./logo.css");     /* Estilos del logo */
@import url("./navbar.css");   /* Estilos de la barra de navegación */
@import url("./cart.css");     /* Estilos del carrito */
@import url("./hero.css");     /* Estilos de la sección hero */
@import url("./about-us.css"); /* Estilos de la sección sobre nosotros */
@import url("./products.css"); /* Estilos de la sección productos */
@import url("./contact.css");  /* Estilos de la sección contacto */
@import url("./footer.css");   /* Estilos del pie de página */

/* Estilos para el contenedor principal de la página */
main{
    display: flex;
    flex-direction: column;
    gap: 150px; /* Espacio entre secciones */
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: 1s all;
}

/* Cuando está activo para menú/carrito */
.blur-overlay.blur-active {
    backdrop-filter: blur(3px);
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
    transition: 1s all;
}

/* Cuando está activo para alertas flotantes */
.blur-overlay.overlay-alert {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    opacity: 1;
    pointer-events: auto;
    z-index: 9998;
    transition: 1s all;
}