
/* Importa las fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oxanium:wght@200..800&display=swap');

/* Variables globales para fuentes, colores y tamaños */
:root{
    --titulos_encabezados_font: "Oxanium", serif;
    --titulos_encabezados_size_h1: 38px;
    --titulos_encabezados_size_h2: 33px;
    --titulos_encabezados_size_h3: 28px;
    --titulos_encabezados_size_h4: 23px;
    --titulos_encabezados_weight_h1: 600;
    --titulos_encabezados_color: white;
    --cuerpo_de_texto_font: "Manrope", serif;
    --cuerpo_de_texto_size: 18px;
    --button_radius: 5px;
    --naranja1: #F2911B;
    --naranjacards: #b45f26;
    --naranjahover:#ffa538;
    /* Variables para media queries */
    --titulos_encabezados_size_h1_mq850: 30px;
    --titulos_encabezados_size_h2_mq850: 25px;
    --titulos_encabezados_size_h3_mq850: 20px;
    --titulos_encabezados_size_h4_mq850: 18px;
    --cuerpo_de_texto_size_mq850: 15px;
}

/* Reset de estilos y configuración básica */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none!important;
    color: white;
}

/* Configuración de scroll y padding para el html */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px; 
}

/* Estilo del logo principal */
.logo{
    font-style: italic;
    font-weight: 600;
    letter-spacing: 5px;
}

/* Estilos generales del body y fondo */
body{
    min-height: 100vh;
    position: relative;
    z-index: 1;
    background-color: black;
}

/* Fondo con imagen y efecto blur */
body::before{
    content: "";
    background-image: url("./img/Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    filter: blur(3px);
}

/* Estilos para los títulos */
h1{
    font-family: var(--titulos_encabezados_font);
    font-size: var(--titulos_encabezados_size_h1);
}

h2{
    font-family: var(--titulos_encabezados_font);
    font-size: var(--titulos_encabezados_size_h2);
}

h3{
    font-family: var(--titulos_encabezados_font);
    font-size: var(--titulos_encabezados_size_h3);
}

h4{
    font-family: var(--titulos_encabezados_font);
    font-size: var(--titulos_encabezados_size_h4);
}

/* Estilos para textos, enlaces, listas y botones de filtro */
p, a, li, label, .filterbuttons{
    font-family: var(--cuerpo_de_texto_font);
    font-size: var(--cuerpo_de_texto_size);
}

/* Media queries para adaptar tamaños en pantallas pequeñas */
@media (max-width:850px) {
    h1{
        font-size: var(--titulos_encabezados_size_h1_mq850);
    }
    
    h2{
        font-size: var(--titulos_encabezados_size_h2_mq850);
    }
    
    h3{
        font-size: var(--titulos_encabezados_size_h3_mq850);
    }
    
    h4{
        font-size: var(--titulos_encabezados_size_h4_mq850);
    }

    p, a, li, label, .filterbuttons{
        font-size: var(--cuerpo_de_texto_size_mq850);
    }
}
